

<div class="mc-move" data-mc-move data-mc-fragment>
  <ul class="mc-move-list">
    <li class="mx-chg-row mc-move-row">
      <a class="mx-chg-name mc-move-name" href="macro_consumer_payments.html"><span class="l-en">Retail sales</span><span class="l-zh">零售销售</span></a>
      <span class="mx-chg-what mc-move-what">
        <span class="mc-move-prior">763,602.0</span>
        <span class="mc-move-arrow" aria-hidden="true">&rarr;</span>
        <span class="mq-sr"><span class="l-en">changed to</span><span class="l-zh">变为</span></span>
        <strong class="mc-move-current">763,602.0</strong>
        <span class="mc-move-delta mq-delta mq-delta-flat">0</span>
      </span>
    </li>
    <li class="mx-chg-row mc-move-row">
      <a class="mx-chg-name mc-move-name" href="macro_consumer_payments.html"><span class="l-en">Retail sales, year over year</span><span class="l-zh">零售销售同比</span></a>
      <span class="mx-chg-what mc-move-what">
        <span class="mc-move-prior">5.01</span>
        <span class="mc-move-arrow" aria-hidden="true">&rarr;</span>
        <span class="mq-sr"><span class="l-en">changed to</span><span class="l-zh">变为</span></span>
        <strong class="mc-move-current">5.01</strong>
        <span class="mc-move-delta mq-delta mq-delta-flat">0</span>
      </span>
    </li>
    <li class="mx-chg-row mc-move-row">
      <a class="mx-chg-name mc-move-name" href="macro_consumer_payments.html"><span class="l-en">How households feel about the economy</span><span class="l-zh">家庭对经济的感受</span></a>
      <span class="mx-chg-what mc-move-what">
        <span class="mc-move-prior">55.20</span>
        <span class="mc-move-arrow" aria-hidden="true">&rarr;</span>
        <span class="mq-sr"><span class="l-en">changed to</span><span class="l-zh">变为</span></span>
        <strong class="mc-move-current">55.20</strong>
        <span class="mc-move-delta mq-delta mq-delta-flat">0</span>
      </span>
    </li>
    <li class="mx-chg-row mc-move-row">
      <a class="mx-chg-name mc-move-name" href="macro_consumer_payments.html"><span class="l-en">Household sentiment, year over year</span><span class="l-zh">家庭感受同比</span></a>
      <span class="mx-chg-what mc-move-what">
        <span class="mc-move-prior">-10.53</span>
        <span class="mc-move-arrow" aria-hidden="true">&rarr;</span>
        <span class="mq-sr"><span class="l-en">changed to</span><span class="l-zh">变为</span></span>
        <strong class="mc-move-current">-10.53</strong>
        <span class="mc-move-delta mq-delta mq-delta-flat">0</span>
      </span>
    </li>
    <li class="mx-chg-row mc-move-row">
      <a class="mx-chg-name mc-move-name" href="macro_consumer_payments.html"><span class="l-en">Household cash-flow momentum</span><span class="l-zh">家庭现金流动能</span></a>
      <span class="mx-chg-what mc-move-what">
        <span class="mc-move-prior">67.54</span>
        <span class="mc-move-arrow" aria-hidden="true">&rarr;</span>
        <span class="mq-sr"><span class="l-en">changed to</span><span class="l-zh">变为</span></span>
        <strong class="mc-move-current">67.54</strong>
        <span class="mc-move-delta mq-delta mq-delta-flat">0</span>
      </span>
    </li>
    <li class="mx-chg-row mc-move-row">
      <a class="mx-chg-name mc-move-name" href="macro_consumer_payments.html"><span class="l-en">Household credit stress</span><span class="l-zh">家庭信贷压力</span></a>
      <span class="mx-chg-what mc-move-what">
        <span class="mc-move-prior">51.14</span>
        <span class="mc-move-arrow" aria-hidden="true">&rarr;</span>
        <span class="mq-sr"><span class="l-en">changed to</span><span class="l-zh">变为</span></span>
        <strong class="mc-move-current">51.14</strong>
        <span class="mc-move-delta mq-delta mq-delta-flat">0</span>
      </span>
    </li>
  </ul>
  <p class="mc-move-count"><span class="l-en">6 readings compared against the previous publication.</span><span class="l-zh">与上一次发布相比，共对比 6 项读数。</span></p>
</div>
