

<div class="mc-move" data-mc-move data-mc-fragment>
  <ul class="mc-move-list">
    <li class="mx-chg-row mc-move-row">
      <a class="mx-chg-name mc-move-name" href="macro_national_debt_liabilities.html"><span class="l-en">Treasury cash balance</span><span class="l-zh">财政部现金余额</span></a>
      <span class="mx-chg-what mc-move-what">
        <span class="mc-move-prior">903,928.0</span>
        <span class="mc-move-arrow" aria-hidden="true">&rarr;</span>
        <span class="mq-sr"><span class="l-en">changed to</span><span class="l-zh">变为</span></span>
        <strong class="mc-move-current">903,928.0</strong>
        <span class="mc-move-delta mq-delta mq-delta-flat">0</span>
      </span>
    </li>
    <li class="mx-chg-row mc-move-row">
      <a class="mx-chg-name mc-move-name" href="macro_national_debt_liabilities.html"><span class="l-en">Net government issuance, 13 weeks</span><span class="l-zh">政府净发行（13周）</span></a>
      <span class="mx-chg-what mc-move-what">
        <span class="mc-move-prior">827,047.0</span>
        <span class="mc-move-arrow" aria-hidden="true">&rarr;</span>
        <span class="mq-sr"><span class="l-en">changed to</span><span class="l-zh">变为</span></span>
        <strong class="mc-move-current">827,047.0</strong>
        <span class="mc-move-delta mq-delta mq-delta-flat">0</span>
      </span>
    </li>
    <li class="mx-chg-row mc-move-row">
      <a class="mx-chg-name mc-move-name" href="macro_national_debt_liabilities.html"><span class="l-en">Recent auction demand</span><span class="l-zh">近期拍卖需求</span></a>
      <span class="mx-chg-what mc-move-what">
        <span class="mc-move-prior">2.92</span>
        <span class="mc-move-arrow" aria-hidden="true">&rarr;</span>
        <span class="mq-sr"><span class="l-en">changed to</span><span class="l-zh">变为</span></span>
        <strong class="mc-move-current">2.92</strong>
        <span class="mc-move-delta mq-delta mq-delta-flat">0</span>
      </span>
    </li>
    <li class="mx-chg-row mc-move-row">
      <a class="mx-chg-name mc-move-name" href="macro_national_debt_liabilities.html"><span class="l-en">Share of income going to debt payments</span><span class="l-zh">收入中用于还债的比重</span></a>
      <span class="mx-chg-what mc-move-what">
        <span class="mc-move-prior">14.10</span>
        <span class="mc-move-arrow" aria-hidden="true">&rarr;</span>
        <span class="mq-sr"><span class="l-en">changed to</span><span class="l-zh">变为</span></span>
        <strong class="mc-move-current">14.10</strong>
        <span class="mc-move-delta mq-delta mq-delta-flat">0</span>
      </span>
    </li>
    <li class="mx-chg-row mc-move-row">
      <a class="mx-chg-name mc-move-name" href="macro_national_debt_liabilities.html"><span class="l-en">How healthy the government-bond desk is</span><span class="l-zh">国债交易台健康程度</span></a>
      <span class="mx-chg-what mc-move-what">
        <span class="mc-move-prior">89.00</span>
        <span class="mc-move-arrow" aria-hidden="true">&rarr;</span>
        <span class="mq-sr"><span class="l-en">changed to</span><span class="l-zh">变为</span></span>
        <strong class="mc-move-current">89.00</strong>
        <span class="mc-move-delta mq-delta mq-delta-flat">0</span>
      </span>
    </li>
  </ul>
  <p class="mc-move-count"><span class="l-en">5 readings compared against the previous publication.</span><span class="l-zh">与上一次发布相比，共对比 5 项读数。</span></p>
</div>
