

<div class="mc-move" data-mc-move data-mc-fragment>
  <ul class="mc-move-list">
    <li class="mx-chg-row mc-move-row">
      <a class="mx-chg-name mc-move-name" href="macro_inflation_system.html"><span class="l-en">Speed of price rises</span><span class="l-zh">物价上涨速度</span></a>
      <span class="mx-chg-what mc-move-what">
        <strong class="mc-move-current"><span class="l-en">49.59 pts</span><span class="l-zh">49.59 点</span></strong><span class="mc-move-words"><span class="l-en">unchanged since the last reading</span><span class="l-zh">较上次读数持平</span></span>
      </span>
    </li>
    <li class="mx-chg-row mc-move-row">
      <a class="mx-chg-name mc-move-name" href="macro_inflation_system.html"><span class="l-en">Spread of price rises</span><span class="l-zh">涨价的广度</span></a>
      <span class="mx-chg-what mc-move-what">
        <strong class="mc-move-current"><span class="l-en">57.89 pts</span><span class="l-zh">57.89 点</span></strong><span class="mc-move-words"><span class="l-en">unchanged since the last reading</span><span class="l-zh">较上次读数持平</span></span>
      </span>
    </li>
  </ul><p class="mc-move-count"><span class="l-en">2 readings compared against the previous publication.</span><span class="l-zh">与上一次发布相比，共对比 2 项读数。</span></p>
</div>
