

<div class="mc-move" data-mc-move data-mc-fragment>
  <ul class="mc-move-list">
    <li class="mx-chg-row mc-move-row">
      <a class="mx-chg-name mc-move-name" href="macro_labor_markets.html"><span class="l-en">Employer demand for workers</span><span class="l-zh">企业对劳动力的需求</span></a>
      <span class="mx-chg-what mc-move-what">
        <strong class="mc-move-current"><span class="l-en">68.03 pts</span><span class="l-zh">68.03 点</span></strong><span class="mc-move-words"><span class="l-en">up 1.51 pts since the last reading</span><span class="l-zh">较上次读数上升 1.51 点</span></span>
      </span>
    </li>
    <li class="mx-chg-row mc-move-row">
      <a class="mx-chg-name mc-move-name" href="macro_labor_markets.html"><span class="l-en">Tightness of the job market</span><span class="l-zh">就业市场的紧张程度</span></a>
      <span class="mx-chg-what mc-move-what">
        <strong class="mc-move-current"><span class="l-en">76.35 pts</span><span class="l-zh">76.35 点</span></strong><span class="mc-move-words"><span class="l-en">unchanged since the last reading</span><span class="l-zh">较上次读数持平</span></span>
      </span>
    </li>
  </ul><p class="mc-move-count"><span class="l-en">2 readings compared against the previous publication.</span><span class="l-zh">与上一次发布相比，共对比 2 项读数。</span></p>
</div>
