<script>window.__plotlyQ=[];window.Plotly={newPlot:function(){window.__plotlyQ.push(['newPlot',[].slice.call(arguments)]);return Promise.resolve();},react:function(){window.__plotlyQ.push(['react',[].slice.call(arguments)]);return Promise.resolve();},relayout:function(){window.__plotlyQ.push(['relayout',[].slice.call(arguments)]);}};
</script><script defer src="plotly-2.32.0.min.js"></script><script>document.addEventListener('DOMContentLoaded',function(){var q=window.__plotlyQ||[];window.__plotlyQ=null;q.forEach(function(c){try{window.Plotly[c[0]].apply(window.Plotly,c[1]);}catch(e){}});});</script>